.CurdStatus {
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  width: fit-content;
}

.Live {
  padding: 6px 34px;

}

.Finished {
  padding: 6px 21px;
}

.Ongoing {
  padding: 6px 8px;
}

.Scheduled {
  padding: 6px 8px;
}
