.Notification {
  width: 73%;
  border-radius: 4px;
  background-color: rgba(15, 19, 24, 1);
  padding: 16px;
  display: flex;
  align-items: center;
  gap: 13.5px;

  svg {
    width: 28px;
    height: 28px;
  }

  span {
    width: calc(100% - 28px);
    min-width: 0;
    max-width: 480px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21.78px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }
}