$normalCloseStateBgColor: rgba(11, 14, 18, 1);
$normalOpenStateBgColor: rgba(11, 14, 18, 1);

$hoverCloseStateBgColor: rgba(15, 19, 24, 1);
$hoverOpenStateBgColor: rgba(15, 19, 24, 1);

$pressedCloseStateBgColor: rgba(11, 14, 18, 1);
$pressedOpenStateBgColor: rgba(11, 14, 18, 1);
$pressedCloseStateBorderColor: rgba(23, 29, 37, 1);
$pressedOpenStateBorderColor: rgba(23, 29, 37, 1);


@mixin closeModeBackgroundColor {
  background-color: $normalCloseStateBgColor;
  border: 1px solid $normalCloseStateBgColor;

  &:hover {
    background-color: $hoverCloseStateBgColor;
    border: 1px solid $hoverCloseStateBgColor;

  }

  &:active {
    background-color: $pressedCloseStateBgColor;
    border: 1px solid $pressedCloseStateBorderColor
  }

}

@mixin openModeBackgroundColor {
  background-color: $normalOpenStateBgColor;
  border: 1px solid $normalOpenStateBgColor;

  &:hover {
    background-color: $hoverOpenStateBgColor;
    border: 1px solid $hoverOpenStateBgColor;

  }

  &:active {
    background-color: $pressedOpenStateBgColor;
    border: 1px solid $pressedOpenStateBorderColor
  }

}

$minWidth: 170px;
$width: 100%;

@mixin modeWidth {
  min-width: $minWidth;
  width: $width;

  @media (width <= 600px) {

  }

  @media (width >= 768px) {

  }

  @media (width >= 1280px) {

  }
}

.DropListWrapper {
  position: relative;

  @media (width <= 920px) {
    width: 100%;
  }

  .DropList {
    @include modeWidth;
    @include closeModeBackgroundColor;
    position: relative;
    height: 56px;
    padding: 10px 20px 10px 16px;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;

    .title {

    }

    .TriangleIconWrapper {
      pointer-events: none;
      transition: all 500ms;
      display: flex;
      align-items: center;
      justify-content: center;

    }

    .TriangleIconWrapperIsOpen {
      transform: rotate(180deg);
      transition: all 500ms;
    }
  }
}


.DropListOpen {
  @include openModeBackgroundColor;
  width: 100%;
  border-radius: 4px;
  background-color: $normalCloseStateBgColor;
}

.dropList {
  position: absolute;
  top: calc(56px + 8px);
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 4px;
  overflow: hidden;

}
