$normalCloseStateBgColor: rgba(15, 19, 24, 1);
$normalCloseStateColor: rgba(180, 181, 182, 1);
$hoverCloseStateBgColor: rgba(17, 22, 29, 1);
$hoverCloseStateColor: rgba(255, 255, 255, 1);
$pressedCloseStateBgColor: rgba(13, 17, 21, 1);
$pressedCloseStateColor: rgba(255, 255, 255, 1);
$disabledCloseStateBgColor: rgba(15, 19, 24, 1);
$disabledCloseStateColor: rgba(104, 105, 106, 1);

.DropListItem {
  width: 100%;
  height: 48px;
  display: flex;
  align-items: center;
  background-color: $normalCloseStateBgColor;
  padding: 8px 12px;
  user-select: none;
  color: $normalCloseStateColor;

  &:hover {
    background-color: $hoverCloseStateBgColor;
    color: $hoverCloseStateColor;
  }

  &:active {
    background-color: $pressedCloseStateBgColor;
    color: $pressedCloseStateColor
  }
}

.DropListItem[aria-disabled="true"] {
  background-color: $disabledCloseStateBgColor;
  color: $disabledCloseStateColor;
  cursor: not-allowed;

}