$normalStateBgColor: rgba(16, 19, 24, 1);

.CounterUserKills {
  width: 100%;
  padding: 8px 12px;
  background-color: $normalStateBgColor;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  gap: 8px;

  @media (width <= 1460px) {
    flex-direction: column;
  }

  @media (width <= 420px) {
    flex-direction: initial;
  }

  .userInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @media (width <= 1460px) {
      justify-content: center;
    }

    .wrapperUserAvatar {

      .userAvatar {
        width: 36px;
        height: 36px;
      }
    }

    .wrapperUserName {
      margin: 6px 0 6px 8px;


      .userName {
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;

        & {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;

        }
        @media (width <= 1600px) {
          font-size: 14px;
        }

      }
    }
  }

  .wrapperCounterKills {
    display: flex;
    align-items: center;
    gap: 8px;

    @media (width <= 1460px) {
      justify-content: center;
    }

    .counterKillsPrefix {
      font-weight: 500;
      font-size: 14px;
      line-height: 21px;
      text-align: right;
      color: rgba(250, 250, 250, 0.4);

      @media (width <= 1600px) {
        font-size: 12px;
      }

    }

    .counterUserKills {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      @media (width <= 1600px) {
        font-size: 14px;
      }

    }

  }

}
